<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico|Just+Another+Hand' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
    <script src="/javascripts/items.js" type="text/javascript"></script>
    <script src="/javascripts/buttons.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" media="screen" title="no title" charset="utf-8">

    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
      <header>
          <h1 align="center">RecordHUB</h1>
          <div class="headerRight">
          {{#if currentUser}}
          <div class="headerButtons">
          <a href="/account/leave"><button class="navButton" id="logoutButton">⇨ Logout</button></a>
          </div>
          <div class="headerButtons">
          <a href="/mycollections"><button class="navButton">◉ Collection</button></a>
          </div>
          {{/if}}
          {{#unless currentUser}}
          <div class="headerButtons">
          <a href="/account/login"><button class="navButton">⇲ Login</button></a>
          </div>
          {{/unless}}

      </header>


    <!-- <div class="headerButtons">
    <button>Login</button>
    </div> -->

  <div class="container" align="center">
    {{{body}}}
  </div>
 </body>
</html>
