<h3> Welcome!</h3>
<p class="message"> Record HUB is a place for you to collect and share your records!  </p>

<p><a href="/publicdecks"><button class="inputButtonLarge">Browse Collections</button></p></a>
<p><a href="/account/login"><button class="inputButtonLarge">Register or Login</button></a>
